html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*my styles*/  

body {
  font-family: 'Roboto Mono', monospace;
  color: #2a2a2a;
  background-color: #EEE5E9;
}

nav {
  border-bottom: 3px solid #84A9C0;
  text-align: center;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-bottom: 1vw;
	margin-top: 1vw;
	font-weight: bold;
	letter-spacing: 0.1em;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	margin: 1.5vw;
}

nav ul li a:hover {
	color: #CEABB1;
}

a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

  
 h2 {
	font-size: 2em;
	padding: 5px 10px 15px 10px;
 }
 
 h1 {
	font-size: 3em;
	padding: 10px;
 }
 
 h1, h2 {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
 }
 
 header {
	background-color: #FFFFFF;
	margin: 0;
	
 }

 #scratch p, #scratch a {
  padding: 5px;
 }

 .flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 }

 #scratch div {
   border: 2px solid #000;
   height: auto;
   width: auto;
   margin: 15px;
 }

 #codehs div {
  border: 2px solid #000;
  height: 25vw;
  width: 40vw;
  margin: 15px; 
 }

 #cs160 div, #readings div, #colleges div, #app div, #p5js div, #circuits div, #nand div, #extra div, #robot div, #cs161 div {
  border: 2px solid #000;
  height: 25vw;
  width: 25vw;
  margin: 15px;
 }

 #readings div a, #colleges div a, #app div a, #p5js a, #circuits a, #robot a {
  height: 100%;
  display: block;
 }

 #scratch div a {
   display: block;
 }

 h3 {
  font-size: 1.5em;
  padding: 25px 15px 15px 15px;
 }

 #cs160 a, #cs161 a {
  padding: 50px 15px;
  background-color: rgba(255,255,255,0);
  display: block;
  text-decoration: none;
  color: #FFF;
 }

 #cs160 a:hover, #cs161 a:hover {
   background-color: rgba(255,255,255,0.75);
   color: #000;
 }

 .cs160 a, .cs161 a{
   text-decoration: none;
   color: #000;
 }

 .cs160 a:hover, .cs161 a:hover {
   color: #84A9C0;
 }

 /*images*/
 .scratch {
   background-image: url(../images/maze.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: -100px;
 }

 .readings {
  background-image: url(../images/books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.colleges {
  background-image: url(../images/backpack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -75px;
}

.app {
  background-image: url(../images/phone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -75px;
}

.python {
  background-image: url(../images/rockpaperscissors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px;
}

.circuits {
  background-image: url(../images/lights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

 #dreaming {
   background-image: url(../images/dreaming.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: -50px;
 }

 #code {
   background-image: url(../images/code.jpg);
   background-size: cover;
   background-repeat: no-repeat;
 }

 #mud {
  background-image: url(../images/mud.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -25px;
 }

 #devops {
  background-image: url(../images/devop.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -25px;
 }

 #pain {
  background-image: url(../images/pain.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px;
 }

 #softwareishard {
   background-image: url(../images/softwareishard.JPG);
   background-size: cover;
   background-repeat: no-repeat;
 }

 #osu {
  background-image: url(../images/osu.png);
  background-size: 24vw;
  background-repeat: no-repeat;
  background-position: 7px 150px;
 }

 #psu {
  background-image: url(../images/psu.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 70px 50px;
 }

 #magic8 {
   background-image: url(../images/magic8ball.jpg);
   background-size: cover;
   background-repeat: no-repeat;
 }

 #ex1 {
    background-image: url(../images/p5ex1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
 }

 #ex2 {
    background-image: url(../images/p5ex2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
 }

 #ex3 {
  background-image: url(../images/p5ex3.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -75px;
}

 .p5 {
    background-image: url(../images/movement.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -75px;
 }

 #python div {
  border: 2px solid #000;
  height: auto;
  width: 40vw;
  margin: 15px;
 }

 .rubric {
  background-image: url(../images/fall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -105px;
 }

 #codehs1 {
   background-image: url(../images/codehs1.JPG);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: -145px;
 }

 #codehs2 {
  background-image: url(../images/codehs2.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -150px;
}

#codehs3 {
  background-image: url(../images/codehs3.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -150px;
}

.codehs {
  background-image: url(../images/turtle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -230px;
}

#half-adder {
  background-image: url(../images/halfadder.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -40px;
}

#full-adder {
  background-image: url(../images/fulladder.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15px;
}

#eight-bit {
  background-image: url(../images/8bitadder.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#add-sub {
  background-image: url(../images/addsub.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -25px;
}

#adding-machine {
  background-image: url(../images/adding-machine.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -25px;
}

#edge-flip-flop {
  background-image: url(../images/edge-trig-flip-flop.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -40px;
}

#ripplecounter {
  background-image: url(../images/ripplecounter.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -40px;
}

#nand-not {
  background-image: url(../images/notgate.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-and {
  background-image: url(../images/andgate.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-or {
  background-image: url(../images/orgate.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-xor {
  background-image: url(../images/xorgate.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-mux {
  background-image: url(../images/mux.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-dmux {
  background-image: url(../images/dmux.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-not16 {
  background-image: url(../images/not16gate.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-and16 {
  background-image: url(../images/and16gate.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-or16 {
  background-image: url(../images/or16.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-mux16 {
  background-image: url(../images/mux.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-or8way {
  background-image: url(../images/or8waygate.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-mux4way {
  background-image: url(../images/mux4way16.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-mux8way {
  background-image: url(../images/mux8way16.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}
#nand-dmux4way {
  background-image: url(../images/dmux4way.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

#nand-dmux8way {
  background-image: url(../images/dmux8way.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

.nand {
  background-image: url(../images/project.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#codecamp1 {
  background-image: url(../images/codecamp1.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -75px;
}

#codecamp2 {
  background-image: url(../images/codecamp2.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -75px;
}

#codecamp3 {
  background-image: url(../images/codecamp3.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -50px;
}

.finalexam {
  background-image: url(../images/typewriter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -150px;
}

.finalrubric {
  background-image: url(../images/winter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.extra {
  background-image: url(../images/donuts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -125px;
}

#robo {
  background-image: url(../images/robot.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -50px;
}

.robot {
  background-image: url(../images/robot2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -75px;
}

/*CS161*/
#introduction {
  background-image: url(../images/selfie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.java {
  background-image: url(../images/bluej.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -75px;
}

#java1 {
  background-image: url(../images/java1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -75px;
}

#java2 {
  background-image: url(../images/java2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -75px;
}

#java3 {
  background-image: url(../images/java3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px;
}

#java4 {
  background-image: url(../images/java4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px;
}
